@model IEnumerable<ReviewModel>
@using ReviewApp.Models

@{
    ViewData["Title"] = "Reviews";
    int totalReviews = (int)ViewData["TotalReviews"];
}
<h1>Reviews</h1>

<p>
    <a asp-action="CreateReview">Create New Review</a>
</p>

<p>There are currently @ViewData["TotalReviews"] reviews </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>

            <td>
                @Html.ActionLink("Edit", "EditReview", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
